textarea{
    width: 70%;
    height: 9vh;
    display: block;
    margin: 2rem;
    padding: 2rem;
    color: red;
}

#btn-translate {
    color: rgb(216, 216, 21);
    background-color: black;
}

#output-txt{
    font-size: larger;
}

#output {
    border: 3px solid black;
    height: 8vh;
    width: 80%;
    margin: 2rem;
    padding: 2rem;
}